* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
@font-face {
  font-family: "OpenSans-Bold";  
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal;
}
@font-face {
  font-family: "OpenSans-Regular";  
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal;
}

._hidden {
  display: none ;
}
.closed_popup {
  background-image: url(..//svg/form-x.svg);
  width: 29px;
  height: 29px;
  position: absolute;
  top: -35px;
  right: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  
}

.popup {
  display: flex;
  width:100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  overflow:hidden;
  position:fixed;
  z-index: 3;
  overflow-y: scroll;
 }
.popup .popup-content {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 390px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.popup-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 55px 30px;
}
.name-popup {
  text-transform: uppercase;
  font-size: 1rem;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "OpenSans-Bold", "Tahoma", sans-serif;
}
.name-popup::after {
  content: "";
  display: block;
  margin: 10px auto 28px auto;
  width: 65px;
  height: 3px;
  background-color: #b59f5b;
  margin-left: auto;
  margin-right: auto;
}
.popup-form {
  font-size: 0.875rem;
  color: #0f0d0e;
  font-weight: 400;
  font-family: "OpenSans-Regular", "Tahoma", sans-serif;
}

form p {
  margin-bottom: 30px;
}
.popup-option, .info-content {
  padding-left: 18px;
  padding-right: 18px;
  margin-bottom: 30px;
  margin-top: 10px;
  width: 100%;
  background: #f3f7f5;
  border: 0;
  color: #0f0d0e;
  font-weight: 400;
  font-family: "OpenSans-Regular", "Tahoma", sans-serif;
}
.popup-option {
  height: 48px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../svg/form-arrows.svg);
  background-size: 17px;
  background-repeat: no-repeat;
  background-position: center right 13px;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
      
}
.choice-mail {
  position: relative;
  height: 16px;
  width: 16px;
  margin-top: 12px;
  margin-right: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
.choice-mail::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #b59f5b;
}
.choice-mail:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #b59f5b;
  transform: translate(-50%, -50%);
  visibility: visible;
}
.info-content {
  height: 130px;
  padding-top: 15px;
}
.send_pupop{
  width: 100%;
  height: 48px;
  font-weight: 700;
  font-family: "OpenSans-Bold", "Tahoma", sans-serif;
  background: #b59f5b;
  border: 0;
  text-transform: uppercase;
  color: white;
}


.header {
  position: relative;
  z-index: 0;
  flex-wrap: wrap;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}
.header::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.header-block {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.menu {
  display: flex;
  align-items: center;
}
.menu-list {
  display: flex;
}
.menu_burger {
  display: flex;
  position: relative;
  width: 23px;
  height: 20px;
}
.menu_burger span, .menu_burger::after, .menu_burger::before {
  height: 4px;
  width: 100%;
  position: absolute;
  background: #ffffff;
  margin: 0 auto;
}
.menu_burger::after, .menu_burger::before {
  content: "";
}
.menu_burger span {
  top: 8px;
}
.menu_burger::after {
  top: 0;
}
.menu_burger::before {
  bottom: 0;
}
.link-header {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 0.81rem;
  font-weight: 400;
  font-family: "OpenSans-Regular", "Tahoma", sans-serif;
}
.menu-list-item:nth-child(n+2) {
  margin-left: 35px;
}
.name-header {
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  text-align: center; 
}
.name-head {
  color: #ffffff;
  font-weight: 700;
  font-family: "OpenSans-Bold", "Tahoma", sans-serif;
  text-align: center;
  text-transform: uppercase;
} 


.central-panel {
  display: flex;
  flex-direction: column;
}

.trend {
  display: flex;
  flex-direction: column;
}
.name-block {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.25rem;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "OpenSans-Bold", "Tahoma", sans-serif;
}
.name-block::after {
  content: "";
  display: block;
  margin: 10px auto 28px auto;
  width: 65px;
  height: 3px;
  background-color: #b59f5b;
}
.trend-blocks {
  display:flex;
  justify-content: space-between; 
  
}
.trend-block {
 display: flex;
 position: relative;
 background-color: #000000;
}
.trend1 {
  background-image: url(../images/trend1.jpg);
  position: relative;
  z-index: 0;
  flex-wrap: wrap;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}
.trend2 {
  background-image: url(../images/trend2.jpg);
  position: relative;
  z-index: 0;
  flex-wrap: wrap;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}
.trend3 {
  background-image: url(../images/trend3.jpg);
  position: relative;
  z-index: 0;
  flex-wrap: wrap;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}
.trend4 {
  background-image: url(../images/trend4.jpg);
  position: relative;
  z-index: 0;
  flex-wrap: wrap;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}
.trend-block::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.5;
}
.trend-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 3px solid #b59f5b;
  z-index: 2;
}
.name-trend-block {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: "OpenSans-Bold", "Tahoma", sans-serif;
}

.content {
  display:flex;
}
.news-block {
  display:flex;
}
.news-img {
  display:flex;
  background-color: white;
}
.description {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}
.name-themes {
  display: flex;
  flex-flow: row wrap;
}
.blog-link {
  margin-right: 19px;
}
.link-themes {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #b59f5b;
  font-weight: 700;
  font-family: "OpenSans-Bold", "Tahoma", sans-serif;
}
.link-news{
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "OpenSans-Bold", "Tahoma", sans-serif;
}
.option {
  display:flex;
  flex-flow: row wrap;
}
.date {
  margin-right: 14px;
  font-size: 0.75rem;
  color: #888888;
  font-weight: 400;
  font-family: "OpenSans-Regular", "Tahoma", sans-serif;
}
.author {
  font-size: 0.75rem;
  color: #000000;
  font-weight: 700;
  font-family: "OpenSans-Bold", "Tahoma", sans-serif;
}
.description-themes {
  color: #0f0d0e;
  font-weight: 400;
  font-family: "OpenSans-Regular", "Tahoma", sans-serif;
}
.description-themes:nth-child(2n+1) {
  margin-top: 10px;
}
.side-panel {
  display: flex;
  flex-direction: column;
}
.heading {
  text-transform: uppercase;
  text-align: center;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "OpenSans-Bold", "Tahoma", sans-serif;
}
.heading::after {
  content: "";
  display: block;
  width: 65px;
  margin: 10px auto 23px auto;
  height: 3px;
  background-color: #b59f5b;
}

.post {
  display: flex;
}
.post:nth-child(n+2) {
  margin-top: 22px;
}
.post-img {
  display:flex;
  background-color: white;
  margin-right: 20px;
}
.post-date {
  margin-bottom: 10px;
  font-size: 0.75rem;
  color: #888888;
  font-weight: 400;
  font-family: "OpenSans-Regular", "Tahoma", sans-serif;
}
.link-post {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.29;
  color: #000000;
  font-weight: 700;
  font-family: "OpenSans-Bold", "Tahoma", sans-serif;
 }

.form {
  position: relative;
  width: 100%;
}
.form input {
  width: 100%;
  height: 48px;
  padding-left: 18px;
  padding-right: 18px;
  background: #f3f7f5;
  border: 0;
}
.form button {
  position: absolute; 
  top: 0;
  right: 0px;
  width: 48px;
  height: 48px;
  background: #b59f5b;
  cursor: pointer;
  border: 0;
  outline: 0;
}
.form img {
  width: 18px;
  height: 18px;
}
.definition {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.mail-group input {
  padding-left: 18px;
  padding-right: 18px;
  margin-bottom: 16px;
  width: 100%;
  height: 48px;
  background: #f3f7f5;
  border: 0;
}
.mail-group button {
  width: 100%;
  height: 48px;
  font-weight: 700;
  font-family: "OpenSans-Bold", "Tahoma", sans-serif;
  background: #b59f5b;
  border: 0;
  text-transform: uppercase;
  color: white;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}
.tag {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "OpenSans-Bold", "Tahoma", sans-serif;
  background: none;
  border-width: 3px;
  border-style: solid;
  border-color: #ededed;
}
.tag-item {
  color: #0f0d0e;
  text-decoration: none;
}
.category {
  display: flex;
  border-bottom: 1px solid #ededed;
}
.name-category{
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-family: "OpenSans-Bold", "Tahoma", sans-serif;
}
.quantity {
  text-decoration: none;
  color: #b59f5b;
  font-weight: 700;
  font-family: "OpenSans-Bold", "Tahoma", sans-serif; 
}

.products {
  display: block;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.product-block {
  display: flex;
}
.product-card{ 
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img_shop {
  display: flex;
  width: 100%;
  padding-left: 23px;
  padding-right: 23px;
}

.img_shop img {
  width: 100%;
}
.shop-option {
  margin-top: -30px;
  width: 100%;
  height: 100%;
  border: 3px solid #b59f5b;
  z-index: 2;
}
.link_shop {
  text-decoration: none;
  color: #b59f5b;
}
.description-product {
  font-size: 0.94rem;
  line-height: 1.47;
  color: #0f0d0e;
  font-weight: 400;
  font-family: "OpenSans-Regular", "Tahoma", sans-serif;
  margin-top: 3px;
  margin-bottom: 13px;
}
.shop {
  display: flex;
  height: 48px;
  justify-content: space-between;
}
.price {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.old_price {
  font-size: 0.875rem;
  line-height: 1.71;
  text-decoration: line-through;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "OpenSans-Bold", "Tahoma", sans-serif;
}
.new_price {
  font-size: 1.25rem;
  line-height: 1.2;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "OpenSans-Bold", "Tahoma", sans-serif;
}
.shopping {
  width: 140px;
  background-color: #b59f5b ;
  border: 0;
  
}
.shopping_name {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #ffffff;
  font-weight: 700;
  font-family: "OpenSans-Bold", "Tahoma", sans-serif;
}

.footer {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
.social{
  display: flex;
  justify-content: center;
}
.menu-social {
  display: flex;
  justify-content: center;
  background-color: #f3f7f5;
}
.icon-item {
  margin-right: 25px;
}
.social-icon__twitter {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../svg/004-twitter.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
 }
.social-icon__pinterest {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../svg/001-pinterest.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
 }
.social-icon__facebook {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../svg/002-facebook-logo.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
 }
.social-icon__instagram {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../svg/005-instagram.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
 }
.social-icon__tumblr {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../svg/003-tumblr.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
 }
.copyright {
  text-align: center;
  margin-top: 80px;
}
.copy {
  text-decoration: none;
  font-size: 0.75rem;
  color: #999999;
  font-weight: 700;
  font-family: "OpenSans-Bold", "Tahoma", sans-serif;
}

@media (min-width: 1200px) {
  .closed_popup {
    width: 20px;
    height: 20px;
    top: -26px;
  }
  .header {
    padding-top: 25px;
    padding-bottom: 125px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../images/banner.jpg);
  }
  .header::after {
    opacity: 0.5;
  }
  .header-block {
    max-width: 1200px;
  }
  .logo {
    width: 180px;
  }
  .burger {
    display: none;
  }
  .name-header {
    max-width: 700px;
    margin-top: 100px;
  }
  .name-head {
    font-size: 2.8rem;
    line-height: 1.67;
  }
  .content {
    padding-top: 55px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 65px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    max-width: 1200px;
  }
  
  .news-block {
    max-width: 780px;
  }
  .news-block:nth-child(n+2) {
    margin-top: 60px;
  }
  .news-img {
    max-width: 380px;
    margin-right: 30px;
  }
  .description {
    max-width: 370px;
   }
  .name-themes {
    margin-bottom: 5px;
  }
  .link-news {
    font-size: 1.25rem;
    line-height: 1.2;
  }
  .option {
    margin-top: 25px;
    margin-bottom: 45px;
  }
  .description-themes {
    font-size: 0.94rem;
    line-height: 1.47;
  }
  
  .side-panel {
    margin-left: 115px;
    width: 270px;
  }
  .heading {
    font-size: 0.875rem;
  }
  
  .form {
    margin-top: 60px;
  }
  
  .mail {
    margin-top: 60px;
  }
  
  .tags-group {
    margin-top: 60px;
  }
  .tag {
    font-size: 0.75rem;
    padding: 5px 12px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .themes-group {
    margin-top: 60px;
    
  }
  
  .name-category{
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: 0.875rem;
  }
  .quantity {
    font-size: 0.625rem;
  }
  .social {
    padding-left: 15px;
    padding-right: 15px;
  }
  .menu-social {
    width: 1200px;
    padding: 30px 0;
  }
}
@media (min-width: 1199px), (min-width: 641px) and (max-width: 1199px) and (orientation:landscape) {

.trend {
  padding-top: 60px; 
}
.trend .name-block {
  font-size: 1.25rem ;
}
.trend-blocks {
  flex-wrap: wrap;
  
}
.trend-block {
  width: 24.7%;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 18px;
  padding-top: 158px;
}
.trend2 {
  padding-top: 130px;
}
.trend-block:nth-child(n+5) {
  margin-top: 4px;
}
.trend-description {
  padding: 40px 34px 35px 34px;
  word-wrap: break-word;
}
.name-trend-block {
  font-size: 1.25rem;
  line-height: 1.2;
}

.products {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 60px ;
}
.product-block { 
  flex-wrap: wrap;
}
.product-card {
  width: calc(90%/3);
}
.product-card:nth-child(n+2) {
  margin-left: 5%;
}
.product-card:nth-child(3n+1) {
  margin-left: 0;
}
.product-card:nth-child(n+4) {
 margin-top: 17px;
}
.shop-option {
  padding: 50px 20px 70px 20px;
}


}
@media (min-width: 641px) and (max-width: 1199px) {
  .header {
    padding-top: 40px;
    padding-bottom: 118px;
    padding-left: 35px;
    padding-right: 35px;
    background-image: url(../images/banner-bg-tablet.jpg);
  }
  .header::after {
    opacity: 0.6;
  }
  .logo {
    width: 180px;
  }
  .menu {
    display: none;
  }
  .name-header {
    max-width: 650px;
    margin-top: 97px;
    padding-left: 0;
    padding-right: 0;
  } 
  .name-head {
    font-size: 2.5rem;
    line-height: 1.38;
  }
  .content {
    padding-top: 50px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 50px;
    justify-content: space-between;
    width: 100%;
  }
  .link-news {
    font-size: 1.0625rem;
    line-height: 1.29;
  }
  

  .news-block {
    flex-direction: column;
  }
  .news-block::after  {
    content: "";
    display: block;
    margin: 23px auto 40px auto;
    width: 100%;
    height: 3px;
    background-color: #eeeeee;
  }
  .news-block:nth-last-child(1):after {
    display: none;
  }
 
  .description {
    width: 100%;
    flex-direction: column;
   }
  .name-themes {
    margin-top: 16px;
    margin-bottom: 15px;
  }
  .option {
    margin-top: 38px;
    margin-bottom: 38px;
  }
  .description-themes {
    font-size: 0.94rem;
    line-height: 1.47;
  }
  
  .side-panel {
    margin-left: 35px;
    width: 100%;
  }
  
  .heading {
    font-size: 0.875rem;
  }
  .form {
    margin-top: 60px;
  }
  .mail {
    margin-top: 60px;
  }
  .tags-group {
    margin-top: 60px;
    width: 100%;
  }
  .tag {
    font-size: 0.75rem;
    padding: 5px 12px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .themes-group {
    margin-top: 60px;
  }
  .name-category{
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: 0.875rem;
  }
  .quantity {
    font-size: 0.625rem;
  }

  .social {
    margin-left: 35px;
    margin-right: 35px;
    background-color: #f3f7f5;
  }
  .menu-social {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 641px) and (max-width: 1199px) and (orientation:portrait), (max-width: 640px) and (orientation:landscape)  {
.trend {
  padding-top: 45px;
}
.trend .name-block {
  font-size: 1.125rem ;
}
.trend-blocks {
  flex-wrap: wrap;
}
.trend-block {
  width: 49.5%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-top: 95px;
}
.trend2 {
  padding-top: 70px;
}
.trend-block:nth-child(2n+2) {
  margin-left: 4px;
}
.trend-block:nth-child(n+3) {
  margin-top: 4px;
}
.trend-description {
  padding: 32px 30px 32px 30px;
 }
.name-trend-block {
  font-size: 1.06rem;
  line-height: 1.29;
}


.products {
  padding-right: 35px;
  padding-left: 35px;
  padding-bottom: 50px ;
}
.product-block {
  flex-wrap: wrap;
}
.product-card {
  width: calc(97%/2);
  justify-content: center;
}
.product-card:nth-child(n+2) {
  margin-left: 3%;
}
.product-card:nth-child(2n+1) {
  margin-left: 0;
}
.product-card:nth-child(n+3) {
  margin-top: 30px;
}

.shop-option {
  width: 100%;
  height: 100%;
  padding: 57px 20px 30px 20px;
}
}
@media (max-width: 640px) {
  .popup .popup-content {
    max-width: 330px;
    top: 100%;
  }
  .popup-content {
    padding: 30px 25px;
  }
  .header {
    padding-top: 30px;
    padding-bottom: 210px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../images/banner-mobile.jpg);
  }
  .header::after {
    opacity: 0.5;
  }
  .header-block {
    flex-direction: column-reverse;
    align-items: center;
  }
  .logo {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
  }
  .menu {
    display: none;
  }
  .burger {
    display: flex;
    align-self: flex-end;
  }
  .menu_burger {

    margin-bottom: 170px;
  }
  .name-header {
    margin-top: 45px;
  }
  .name-head {
    font-size: 1.63rem;
    line-height: 1.38;
  }
  .content {
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
    flex-direction: column;
    justify-content: space-between;
  }
  
.news-block {
  flex-direction: column;
}
.news-block::after {
  content: "";
  display: block;
  margin: 27px auto 35px auto;
  width: 100%;
  height: 3px;
  background-color: #eeeeee;
}
.news-img {
  width: 100%;
}
.description {
  width: 100%;
}
.name-themes {
  margin-top: 17px;
  margin-bottom: 7px;
}
.link-news {
  font-size: 1rem;
  line-height: 1.25;
}
.option {
  margin-top: 25px;
  margin-bottom: 25px;
}
.description-themes {
  font-size: 0.88rem;
  line-height: 1.43;
}
.heading {
  font-size: 1rem;
}
.form {
  margin-top: 60px;
}
.mail {
  margin-top: 40px;
}
.tags-group {
  margin-top: 40px;
}
.tags {
  justify-content: space-between;
}
.tag {
  font-size: 0.75rem;
  padding: 5px 12px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.themes-group {
  margin-top: 45px;
}
.name-category{
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 20px;
  font-size: 0.875rem;
}
.quantity {
  font-size: 0.56rem;
}
.social {
  margin-left: 15px;
  margin-right: 15px;
  background-color: #f3f7f5;
}

.menu-social {
  padding-top: 30px;
  padding-bottom: 30px;
}
}
@media (max-width: 640px) and (orientation:portrait) {

.trend {
  padding-top: 40px; 
}
.trend .name-block {
  font-size: 1rem ;
}
.trend-blocks {
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
}
.trend-block {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 88px;
}
.trend2 {
  padding-top: 66px;
}
.trend-block:nth-child(n+2) {
  margin-top: 3px;
}
.trend-description {
  
  padding: 35px 19px 30px 19px;
 }
.name-trend-block {
  font-size: 1rem;
  line-height: 1.25;
}


.products {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 50px ;
}
.product-block {
 
  flex-direction: column;
}
.product-card {
  width: 100%;
  align-items: baseline;
}
.product-card:nth-child(n+2) {
  margin-top: 30px;
}
.img_shop {
  bottom: 200px;
}
.shop-option {
  max-width: 100%;
  padding: 55px 20px 25px 20px;
}

}